Detecting Missing Data

In [10]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', None, 'David'],
    'Age': [25, None, 22, 23],
    'City': ['Delhi', 'Mumbai', 'Bangalore', None]
}

df = pd.DataFrame(data)

#if there is any null value or NaN

print(df.isnull())
print(df.isna())

#if rows are not null or NaN

print(df.notnull())
print(df.notna())

#sum of all the null values

print(df.isnull().sum())
print(df.isna().sum())

#sum of all the not null values

print(df.notnull().sum())
print(df.notna().sum())

#all null values
print(df.isna().all())

# if there is any null value/(atleast 1)
print(df.isna().any())

# return rows with atleast one missing value
df[df.isna().any(axis=1)]

    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True
    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True
    Name    Age   City
0   True   True   True
1   True  False   True
2  False   True   True
3   True   True  False
    Name    Age   City
0   True   True   True
1   True  False   True
2  False   True   True
3   True   True  False
Name    1
Age     1
City    1
dtype: int64
Name    1
Age     1
City    1
dtype: int64
Name    3
Age     3
City    3
dtype: int64
Name    3
Age     3
City    3
dtype: int64
Name    False
Age     False
City    False
dtype: bool
Name    True
Age     True
City    True
dtype: bool

    Name   Age       City
1    Bob   NaN     Mumbai
2   None  22.0  Bangalore
3  David  23.0       None

### Practice Tasks

In [35]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Amit', 'Priya', 'John', np.nan, 'Neha', 'Ravi', np.nan],
    'Age': [25, np.nan, 22, 28, 30, np.nan, 27],
    'City': ['Delhi', 'Mumbai', np.nan, 'Chennai', np.nan, 'Kolkata', 'Delhi']
}

df = pd.DataFrame(data)
print(df)

#q1 - how many missing values are in each column?

print(df.isnull().sum(axis=0))

#q2 - How many total missing values are there in the whole DataFrame?

print(df.isna().sum().sum())

#q3 : Which rows have at least one missing value?

print(df[df.isna().any(axis=1)])

#q4 : Which columns have no missing values at all?

print(df.notna().all(axis=0))

#q5 : Print all rows that are completely filled (no missing values).

print(df[df.notna().all(axis=1)])

#q6 : Print only those rows where all values are missing.

print(df[df.isna().all(axis=1)])

#q7 : Print the column names where at least one value is missing.

print(df.columns[df.isna().any(axis=0)])

    Name   Age     City
0   Amit  25.0    Delhi
1  Priya   NaN   Mumbai
2   John  22.0      NaN
3    NaN  28.0  Chennai
4   Neha  30.0      NaN
5   Ravi   NaN  Kolkata
6    NaN  27.0    Delhi
Name    2
Age     2
City    2
dtype: int64
6
    Name   Age     City
1  Priya   NaN   Mumbai
2   John  22.0      NaN
3    NaN  28.0  Chennai
4   Neha  30.0      NaN
5   Ravi   NaN  Kolkata
6    NaN  27.0    Delhi
Name    False
Age     False
City    False
dtype: bool
   Name   Age   City
0  Amit  25.0  Delhi
Empty DataFrame
Columns: [Name, Age, City]
Index: []
Index(['Name', 'Age', 'City'], dtype='object')